<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QUESTION</title>
</head>
<body>
<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-50x50">
                <img src="https://freepngimg.com/thumb/facebook/72547-thinking-photography-question-mark-man-stock.png" alt="Image" height="100px" width="100px">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <span class="title">{{question_text}}</span>
                    <br>
                    <span class="subtitle">{{pub_date}}</span>
                    <br>
                </p>
            </div>
        </div>
    </article>
</div>
</body>
</html>